---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Cours de mathématiques - Seconde | revise-tes-maths.fr">
  <script>
    // Redirect to main page with cours filter
    window.location.replace('/seconde?type=cours');
  </script>
  <div class="container mx-auto px-4 py-12 text-center">
    <p class="text-gray-600">Redirection en cours...</p>
  </div>
</Layout>
